body {
  background: linear-gradient(to bottom, #f4f4f4, white);
  font-family: "Inter", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}
* {
  font-family: "Inter";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
